[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
hacktools = {editable = true, git = "https://github.com/Illidanz/hacktools.git", extras=["armips", "cli", "graphics", "nds", "xdelta"]}

[requires]
python_version = "3"
